header
	.top
		.container
			.column.left
				a.phone(href="tel:+78126221616") +7 (812) 622 16 16
				.support Поддержка 24/7
			.column.right
				a.personal.js-personal(href="/personal/") Личный кабинет
	.bottom
		.container 	
			.column.left
				a.logo(href="/")
					img.logo-img(src="" alt="NVC-it логотип")
				.slogan IT-решения для бизнеса
			.column.right
				nav.main-nav
					a.nav-link(href="#") Услуги
					a.nav-link(href="#") Проекты
					a.nav-link(href="#") Офисы обслуживания
					a.nav-link(href="#") О компании
				.search.js-search
					img.icon.icon-search(src="" alt="Поиск по сайту")