header
	.top
		.container
			.column.left
				a.phone(href="tel:+78126221616") +7 (812) 622 16 16
				.support Поддержка 24/7
			.column.right
				a.personal.js-personal(href="/personal/") Личный кабинет
	.bottom
		.container 	
			.column.left
				a.logo(href="/")
					img.logo-img(src="/img/logo.svg" alt="NVC-it логотип")
				.slogan iT-решения для бизнеса
			.column.right
				nav.main-nav
					a.nav-link(href="/about/") О компании
					a.nav-link(href="/solutions/") Решения и сервисы
					a.nav-link(href="/services/") Услуги
					a.nav-link(href="/contacts/") Контакты
				.search.js-search
					.icon.icon-search