footer
    .container
        .section-title Бесплатная консультация по услугам

        .callback-btn Связаться

        .columns.links
            .column
                a.title(href="#") Услуги бизнесу
                ul.links-list
                    li.link-wrapper
                        a.link(href="#") Комплексная автоматизация офисов
                    li.link-wrapper
                        a.link(href="#") Абонентское обслуживание
                    li.link-wrapper
                        a.link(href="#") Управление ИТ-процессами
                    li.link-wrapper
                        a.link(href="#") Корпоративные почтовые сервисы
                    li.link-wrapper
                        a.link(href="#") Аудит инженерных сетей
                    li.link-wrapper
                        a.link(href="#") Комплексный аудит инфраструктуры
                    li.link-wrapper
                        a.link(href="#") Информационная безопасность
                    li.link-wrapper
                        a.link(href="#") Аренда серверного оборудования
                a.link-all(href="#") Показать все

            .column
                a.title(href="#") Услуги банкам
                ul.links-list
                    li.link-wrapper
                        a.link(href="#") Автоматизированные банковские системы
                    li.link-wrapper
                        a.link(href="#") Аудит локальной вычислительной сети
                    li.link-wrapper
                        a.link(href="#") Облачные сервисы
                    li.link-wrapper
                        a.link(href="#") Комплексный аудит ИТ-системы
                    li.link-wrapper
                        a.link(href="#") Телекоммуникационная инфраструктура
                    li.link-wrapper
                        a.link(href="#") Информационная безопасность
                    li.link-wrapper
                        a.link(href="#") Создание и продвижение веб-сайтов
                    li.link-wrapper
                        a.link(href="#") Создание серверной инфраструктуры
                a.link-all(href="#") Показать все

            .column
                a.title(href="#") Частным клиентам
                ul.links-list
                    li.link-wrapper
                        a.link(href="#") Комплексная автоматизация офисов
                    li.link-wrapper
                        a.link(href="#") Абонентское обслуживание
                    li.link-wrapper
                        a.link(href="#") Управление ИТ-процессами
                    li.link-wrapper
                        a.link(href="#") Корпоративные почтовые сервисы
                    li.link-wrapper
                        a.link(href="#") Аудит инженерных систем
                    li.link-wrapper
                        a.link(href="#") Комплексный аудит инфраструктуры
                    li.link-wrapper
                        a.link(href="#") Информационная безопасность
                    li.link-wrapper
                        a.link(href="#") Аренда серверного оборудования
                a.link-all(href="#") Показать все


        .columns.info
            .column
                .company-info 
                    a.phone(href="tel:+78126221616") +7 (812) 622 16 16
                    a.email(href="mailto:info@nvc-it.ru") info@nvc-it.ru
                    .geo Санкт-Петербург Манежный&nbsp;переулок,&nbsp;14

            .column
                ul.links-list.twin
                    li.link-wrapper
                        a.link(href="#") Техподдержка
                    li.link-wrapper
                        a.link(href="#") О компании
                    li.link-wrapper
                        a.link(href="#") Услуги
                    li.link-wrapper
                        a.link(href="#") Проекты

            .column
                ul.socials
                    a.link.soc-vk(href="#")
                        img(src="/img/icon-soc-vk.svg")
                    a.link.soc-wa(href="#")
                        img(src="/img/icon-soc-wa.svg")
                    a.link.soc-tg(href="#")
                        img(src="/img/icon-soc-tg.svg")