section.services-page
    .container 
        h1.section-title Услуги

        .section-banner
            .banner-wrap(style="background-image:url(/img/first-service-bg.jpg);")
            .links-wrap
                ul.links-list
                    li.links-item 
                        a.link(href="#") Умный телефон
                    li.links-item 
                        a.link(href="#") ИТ менеджмент
                    li.links-item 
                        a.link(href="#") Аудит инженерных систем
                    li.links-item 
                        a.link(href="#") Разработка программного обеспечения

section.services.services-page
    .container
        .tags
            a.tag.active(href="#") Популярные
            a.tag(href="#") Бизнесу
            a.tag(href="#") Банкам
            a.tag(href="#") Частным клиентам

        .section-title 
            h2.section-title Все услуги

        .services
            .service.service-x2.service-background(style="background-image:url(/img/first-service-bg.jpg);")
                .column.column-left
                    .image
                        img.service-image(src="/img/service-picture.png" alt="Изображение сервиса")
                .column.column-right
                    .title Комплексная автоматизация офисов
                    .description Обеспечение бесперебойной работы всей ИТ-инфраструктуры, круглосуточная поддержка
                    a.btn.btn-white(href="#") Подробнее

            .service.service-x2
                .column.column-left
                    .image
                        img.service-image(src="/img/service-picture.png" alt="Изображение сервиса")
                .column.column-right
                    .title Умный телефон
                    .description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
                    a.btn.btn-white(href="#") Подробнее

            .service.service-x2
                .column.column-left
                    .image
                        img.service-image(src="/img/service-picture.png" alt="Изображение сервиса")
                .column.column-right
                    .title Сервер для коллективной работы
                    .description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
                    a.btn.btn-white(href="#") Подробнее

            .service.service-x1
                .column.column-left
                    .image
                        img.service-image(src="/img/service-picture.png" alt="Изображение сервиса")
                .column.column-right
                    .title ИТ менеджмент
                    .description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
                    a.btn.btn-white(href="#") Подробнее

            .service.service-x1
                .column.column-left
                    .image
                        img.service-image(src="/img/service-picture.png" alt="Изображение сервиса")
                .column.column-right
                    .title Разработка программного обеспечения
                    .description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
                    a.btn.btn-white(href="#") Подробнее

            .service.service-x1
                .column.column-left
                    .image
                        img.service-image(src="/img/service-picture.png" alt="Изображение сервиса")
                .column.column-right
                    .title Аудит инженерных систем
                    .description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
                    a.btn.btn-white(href="#") Подробнее

            .service.service-x1
                .column.column-left
                    .image
                        img.service-image(src="/img/service-picture.png" alt="Изображение сервиса")
                .column.column-right
                    .title Проектирование сетей
                    .description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
                    a.btn.btn-white(href="#") Подробнее

            .service.service-x1
                .column.column-left
                    .image
                        img.service-image(src="/img/service-picture.png" alt="Изображение сервиса")
                .column.column-right
                    .title Офис в кармане
                    .description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
                    a.btn.btn-white(href="#") Подробнее

            .service.service-x1.service-all
                .column
                    .title Все услуги для бизнеса
                    .count (34)
                    a.btn-all(href="#")