/*
@font-face {
    font-family: 'Rubik';
    src: url('/css/fonts/Rubik/Rubik-Medium.eot');
    src: url('/css/fonts/Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
        url('/css/fonts/Rubik/Rubik-Medium.woff') format('woff'),
        url('/css/fonts/Rubik/Rubik-Medium.ttf') format('truetype'),
        url('/css/fonts/Rubik/Rubik-Medium.svg#Rubik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/css/fonts/Rubik/Rubik-Light.eot');
    src: url('/css/fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Rubik/Rubik-Light.woff2') format('woff2'),
        url('/css/fonts/Rubik/Rubik-Light.woff') format('woff'),
        url('/css/fonts/Rubik/Rubik-Light.ttf') format('truetype'),
        url('/css/fonts/Rubik/Rubik-Light.svg#Rubik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/css/fonts/Rubik/Rubik-Bold.eot');
    src: url('/css/fonts/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
        url('/css/fonts/Rubik/Rubik-Bold.woff') format('woff'),
        url('/css/fonts/Rubik/Rubik-Bold.ttf') format('truetype'),
        url('/css/fonts/Rubik/Rubik-Bold.svg#Rubik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/css/fonts/Commissioner/Commissioner-Bold.eot');
    src: url('/css/fonts/Commissioner/Commissioner-Bold.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Commissioner/Commissioner-Bold.woff2') format('woff2'),
        url('/css/fonts/Commissioner/Commissioner-Bold.woff') format('woff'),
        url('/css/fonts/Commissioner/Commissioner-Bold.ttf') format('truetype'),
        url('/css/fonts/Commissioner/Commissioner-Bold.svg#Commissioner-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*/