$darkBlue: #08113d;
$lightBlue: #98b9f6;
$main: #ffffff;
$lightAccent: #daf5ff;
$mainAccent: #00b1f4;
$darkAccent: #007faf;
$text: #333333;
$gray: #999;
$lightGray: #e5e5e5;
$yellow: #fff088;
$white: #fff;