section.about
	.container
		.section-title
			h1 О нас

		.advantages
			.advantage
				.icon
					img.icon-img(src="/img/icon-about.png")
				.description
					.column.column-left
						.number 01
					.column.column-right
						.title 16 
							br
							| лет прогресса
						.announce Все что мы делаем, мы делаем для заказчика. Поэтому ориентированность на процессы заказчика - наш ключевой принцип. Мы стремимся максимально подстроиться и адаптироваться к системе работы заказчика, сохраняя высокие показатели эффектиности в работе над проектом.

			.advantage
				.icon
					img.icon-img(src="/img/icon-about.png")
				.description
					.column.column-left
						.number 02
					.column.column-right
						.title Мы любим 
							br
							| инновации
						.announce Все что мы делаем, мы делаем для заказчика. Поэтому ориентированность на процессы заказчика - наш ключевой принцип. Мы стремимся максимально подстроиться и адаптироваться к системе работы заказчика, сохраняя высокие показатели эффектиности в работе над проектом.

			.advantage
				.icon
					img.icon-img(src="/img/icon-about.png")
				.description
					.column.column-left
						.number 03
					.column.column-right
						.title Не соглашайтесь 
							br
							| на посредственность
						.announce Все что мы делаем, мы делаем для заказчика. Поэтому ориентированность на процессы заказчика - наш ключевой принцип. Мы стремимся максимально подстроиться и адаптироваться к системе работы заказчика, сохраняя высокие показатели эффектиности в работе над проектом.

			.advantage
				.icon
					img.icon-img(src="/img/icon-about.png")
				.description
					.column.column-left
						.number 04
					.column.column-right
						.title Мы ваш сервисный 
							br
							| партнер
						.announce Все что мы делаем, мы делаем для заказчика. Поэтому ориентированность на процессы заказчика - наш ключевой принцип. Мы стремимся максимально подстроиться и адаптироваться к системе работы заказчика, сохраняя высокие показатели эффектиности в работе над проектом.