section.blog
	.container
		.section-title Блог

		.posts
			.post
				.date 14.06.18
				.title Редизайн "Сбербанка". Почему сайты банков часто похожи?
				.announce Новость о редизайне главной страницы сайта "Сбербанка" вызвала дискуссии: от "обновление актуально" до "где-то это уже было". А мы задумались: действительно ли сайты российских банков похожи между собой?
				.controls
					.btn.btn-transparent Подробнее

			.post
				.date 09.06.18
				.title Кто побеждает в гонке беспилотных автомобилей.
				.announce В ближайшие три года многие крупные компании и стартапы намерены представить беспилотные автомобили, способные самостоятельно передвигаться по городу по строгим маршрутам. Не смотря на то, что индустрия находится на ранникх этапах развития, в гонке уже намечаются лидеры.
				.controls
					.btn.btn-transparent Подробнее

			.post
				.date 14.06.18
				.title Apple снова запускает рекламную сеть. Чего ожидать?
				.announce В начале июня появилась новость, что Apple запустит мобильную рекламную сеть. Паблишеры приложений смогут получать часть выручки. Выплаты для отдельных приложений будут разными.
				.controls
					.btn.btn-transparent Подробнее

		a.btn.btn-white(href="#") Читать блог