section.our-experience
	.container
		.section-title 
			h1 Наш опыт

		ul.glossary
			li.item(data-target="banks") 
				a.name(href="#") Банки 
				span.count (5)
			li.item(data-target="trading") 
				a.name(href="#") Торговля 
				span.count (7)
			li.item(data-target="tourism") 
				a.name(href="#") Туризм 
				span.count (2)
			li.item(data-target="building") 
				a.name(href="#") Строительство 
				span.count (3)
			li.item(data-target="transport") 
				a.name(href="#") Транспорт 
				span.count (3)
			li.item(data-target="libraries") 
				a.name(href="#") Библиотеки 
				span.count (1)
			li.item(data-target="production") 
				a.name(href="#") Производство 
				span.count (6)
			li.item(data-target="education") 
				a.name(href="#") Образование 
				span.count (2)
			li.item(data-target="museums") 
				a.name(href="#") Муфзеи 
				span.count (3)

		ul.projects
			li.project
				.description Как надежный партнер, мы помогаем нашим клиентам достигать их бизнес-целей, обеспечивая надежную работу информационных систем и сервисов.
				a.link.link-all(href="#") Все проекты

			li.project
				a.project-link(href="#" style="background-image: url(img/pic-sber.jpg);")
					.name Сбербанк
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-burgerking.jpg);")
					.name БургерКинг
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-mdmbank.jpg);")
					.name МДМ банк
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-rpts.jpg);")
					.name РПЦ
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-subway.jpg);")
					.name Subway
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-passj-port.jpg);")
					.name Пассажирский порт
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-a-kontract.jpg);")
					.name А-контракт
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-wasabi.jpg);")
					.name Васаби
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-mouzenidis.jpg);")
					.name Mouzenidis travel
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-shokoladnitsa.jpg);")
					.name Шоколадница
			li.project
				a.project-link(href="#" style="background-image: url(img/pic-harley-davidson.jpg);")
					.name Harley-Davidson
		.show-more.js-show-more Показать все проекты