section.our-experience
	.container
		.section-title Наш опыт

		ul.glossary
			li.item(data-target="banks") 
				span.name Банки 
				span.count 5
			li.item(data-target="trading") 
				span.name Торговля 
				span.count 7
			li.item(data-target="tourism") 
				span.name Туризм 
				span.count 2
			li.item(data-target="building") 
				span.name Строительство 
				span.count 3
			li.item(data-target="transport") 
				span.name Транспорт 
				span.count 3
			li.item(data-target="libraries") 
				span.name Библиотеки 
				span.count 1
			li.item(data-target="production") 
				span.name Производство 
				span.count 6
			li.item(data-target="education") 
				span.name Образование 
				span.count 2
			li.item(data-target="museums") 
				span.name Муфзеи 
				span.count 3

		ul.projects
			li.project
				.description Как надежный партнер, мы помогаем нашим клиентам достигать их бизнес-целей, обеспечивая надежную работу информационных систем и сервисов.
				a.link.link-all(href="#") Все проекты

			li.project
				a.project-link(href="#")
					.name Сбербанк
			li.project
				a.project-link(href="#")
					.name БургерКинг
			li.project
				a.project-link(href="#")
					.name МДМ банк
			li.project
				a.project-link(href="#")
					.name РПЦ
			li.project
				a.project-link(href="#")
					.name Subway
			li.project
				a.project-link(href="#")
					.name Пассажирский порт
			li.project
				a.project-link(href="#")
					.name А-контракт
			li.project
				a.project-link(href="#")
					.name Васаби
			li.project
				a.project-link(href="#")
					.name Mouzenidis travel
			li.project
				a.project-link(href="#")
					.name Шоколадница
			li.project
				a.project-link(href="#")
					.name Harley-Davidson
		.show-more.js-show-more Показать все проекты