section.main-services
	.container
		.section-title Услуги
		.tags
			.tag Популярные
			.tag Бизнесу
			.tag Банкам
			.tag Частным клиетам
			.tag Решение и сервисы

		.services
			.service.service-x2.service-background
				.column.column-left
					.image
						img.service-image(src="#" alt="Изображение сервиса")
				.column.column-right
					.title Комплексная автоматизация офисов
					.description Обеспечение бесперебойной работы всей ИТ-инфраструктуры, круглосуточная поддержка
					a.btn.btn-white(href="#") Подробнее

			.service.service-x2
				.column.column-left
					.image
						img.service-image(src="#" alt="Изображение сервиса")
				.column.column-right
					.title Умный телефон
					.description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
					a.btn.btn-white(href="#") Подробнее

			.service.service-x2
				.column.column-left
					.image
						img.service-image(src="#" alt="Изображение сервиса")
				.column.column-right
					.title Сервер для коллективной работы
					.description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
					a.btn.btn-white(href="#") Подробнее

			.service.service-x1
				.column.column-left
					.image
						img.service-image(src="#" alt="Изображение сервиса")
				.column.column-right
					.title ИТ менеджмент
					.description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
					a.btn.btn-white(href="#") Подробнее

			.service.service-x1
				.column.column-left
					.image
						img.service-image(src="#" alt="Изображение сервиса")
				.column.column-right
					.title Разработка программного обеспечения
					.description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
					a.btn.btn-white(href="#") Подробнее

			.service.service-x1
				.column.column-left
					.image
						img.service-image(src="#" alt="Изображение сервиса")
				.column.column-right
					.title Аудит инженерных систем
					.description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
					a.btn.btn-white(href="#") Подробнее

			.service.service-x1
				.column.column-left
					.image
						img.service-image(src="#" alt="Изображение сервиса")
				.column.column-right
					.title Проектирование сетей
					.description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
					a.btn.btn-white(href="#") Подробнее

			.service.service-x1
				.column.column-left
					.image
						img.service-image(src="#" alt="Изображение сервиса")
				.column.column-right
					.title Офис в кармане
					.description Монтаж и обслуживание систем видеонаблюдения и контроля доступа
					a.btn.btn-white(href="#") Подробнее

			.service.service-x1.service-all
				.column
					.title Все услуги
					a.btn.btn-white(href="#") Подробнее