section.main-slider
	.swiper.slider.js-promo-slider
		.swiper-wrapper
			.swiper-slide.slide
				.slide-inner(style="background-image: url(/img/banners/promo/001.webp)")

			.swiper-slide.slide
				.slide-inner(style="background-image: url(/img/banners/promo/002.webp)")

			.swiper-slide.slide
				.slide-inner(style="background-image: url(/img/banners/promo/003.webp)")

			.swiper-slide.slide
				.slide-inner(style="background-image: url(/img/banners/promo/004.webp)")

			.swiper-slide.slide
				.slide-inner(style="background-image: url(/img/banners/promo/005.webp)")

			.swiper-slide.slide
				.slide-inner(style="background-image: url(/img/banners/promo/006.webp)")

			.swiper-slide.slide
				.slide-inner(style="background-image: url(/img/banners/promo/007.webp)")

			.swiper-slide.slide
				.slide-inner(style="background-image: url(/img/banners/promo/008.webp)")

	.controls
		span.prev
		span.next