section.main-slider
	.slider.js-slider
		.slide
			.slide-inner 1
		.slide
			.slide-inner 2
		.slide
			.slide-inner 3
		.slide
			.slide-inner 4
		.slide
			.slide-inner 5
	.controls
		span.prev
		span.next