section.main-slider
	.swiper.slider.js-promo-slider
		.swiper-wrapper
			.swiper-slide.slide
				.slide-inner(style="background-color: red;") 1111111
			.swiper-slide.slide
				.slide-inner(style="background-color: green;") 22222222
			.swiper-slide.slide
				.slide-inner(style="background-color: blue;") 33333333
			.swiper-slide.slide
				.slide-inner(style="background-color: purple;") 4344444444
			.swiper-slide.slide
				.slide-inner(style="background-color: gray;") 54445555555555
	.controls
		span.prev
		span.next